<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <header class="fixed-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black mbs-2">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">FLYAROUND</strong></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('planemodel_index') }}">Les avions</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('reservation_index') }}">Les réservations</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('flight_index') }}">Les vols</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('site_index') }}">Les terrains</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('review_index') }}">Les commentaires</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
